.design{
    font-size: 13px;
    width: 130px;
    height: 50px;
    background-color: rgb(237, 45, 45);
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

a{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid;
    background-color: rgb(76, 74, 74);
    color: white;
}