body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
  }
  
.container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
  
h1 {
    text-align: center;
}
  
.area {
    width: 70%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}
  
button {
    margin-top: 5px;
    padding: 8px 15px;
    background-color: #ffa500;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    color: #fff;
}
  
button:hover {
    background-color: #ff8c00;
}
  
ul {
    margin: 20px 0 0;
    padding: 0;
    list-style: none;
}
  
li {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}
  
.done {
    text-decoration: line-through;
}
  